.Navbar__header {
  height: 55px;
  padding: 0 30px;
  line-height: 64px;
  color: white;

  .Navbar__header_button {
    margin: 0.6rem 0.5rem;
    float: right;
  }

  b {
    margin-left: 3.5rem;
  }
}
